form{
  width:600px;
  margin:30px auto;
  border-radius:5px 5px 10px 10px;
}

form input{
  margin-right: 10px;
  border-radius:5px 5px 10px 10px;
  border:1px solid rgb(12, 42, 175);
}

form input[type='button' ]{
  margin-left: 403px;
  margin-top: 1em;
}

form div{
  margin:30px auto;
}
